@import '../../styles/variables';
@import '../../styles/mediaqueries';

.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 85%;
    @include respond(tablet) {
        width: 60%;
    }
    height: 75%;

    font-family: $font-2;

    background: $color-primary-light;

    border-radius: 8px;
}

.title {
    font-size: 6rem;
    font-family: $font-1;
    text-align: center;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 5rem;
    border-bottom: 8px dotted $color-black;
}

.form_group {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-bottom: 2rem;

    & > label {
        color: $color-primary-dark-1;
        font-size: 3rem;
        font-family: $font-1;
        font-weight: 600;
        margin-bottom: 0.75rem;
    }
}

.input {
    width: 100%;
    font-size: 3rem;
    font-family: $font-1;
    font-weight: 600;
    padding: 1rem 1.5rem;
    border: none;
    border-radius: 10px;
    background: $color-white;
    color: rgba($color-black, 0.8);

    z-index: 1000;

    transition: all 200ms;

    &:focus {
        outline: none;
        box-shadow: 0px 0px 3px 5px $color-primary-dark-2;
    }
}

.select {
    font-family: inherit;
    font-size: 3rem;
    padding: 1rem 1.5rem;
    border: none;
    border-radius: 10px;
    font-weight: 600;

    z-index: 1000;

    transition: all 200ms;

    &:focus {
        outline: none;
        box-shadow: 0px 0px 3px 5px $color-primary-dark-2;
    }
}

.button {
    padding: 0.75rem 3rem;
    font-family: $font-1;
    font-size: 3rem;
    font-weight: 600;
    text-align: center;
    border: none;
    border-radius: 8px;

    align-self: flex-end;
    margin-right: 15%;
    margin-top: 2rem;

    cursor: pointer;

    transition: all 200ms;

    background: $color-white;
    color: $color-primary;

    &:focus,
    &:hover {
        outline: none;
        box-shadow: 0px 0px 3px 5px $color-primary-dark-2;
    }

    &:disabled {
        background: rgba($color-white, 0.8);
        color: rgba($color-black, 0.5);
    }
}

// .form {
//     display: flex;
//     flex-direction: column;
//     width: 85%;
//     margin: 0 auto;
//     margin-top: 2rem;
//     margin-bottom: 2rem;
//     padding: 2rem;
//     border-radius: 8px;
//     border: 2px solid $color-white;

//     &__title {
//         color: $color-white;
//         margin-bottom: 1.5rem;
//         padding-left: 0.5rem;
//     }

//     &__input {
//         width: 100%;
//         font-size: 3rem;
//         font-family: inherit;
//         padding: 1rem 1.5rem;
//         border: none;
//         border-radius: 10px;
//         margin-bottom: 1.5rem;
//         background: $color-white;
//         color: rgba($color-black, 0.8);

//         z-index: 1000;

//         transition: all 200ms;

//         &:focus {
//             outline: none;
//             box-shadow: 0px 0px 3px 5px $color-primary-dark-2;
//         }

//         &.dark {
//             background: $color-white;
//             color: $color-black;

//             &:focus {
//                 outline: none;
//                 box-shadow: 0px 0px 3px 5px $color-primary-light;
//             }
//         }
//     }

//     &__search {
//         margin-bottom: 1.5rem;
//     }

//     &__results {
//         margin: 0 auto;
//         width: 98.5%;
//         list-style: none;
//         margin-top: -1.5rem;
//         border-radius: 0px 0px 10px 10px;
//         box-shadow: 0px 6px 13px 0.1px rgba($color-black, 0.4);
//         overflow-y: scroll;

//         max-height: 15rem;

//         background: none;

//         transition: all 200ms;

//         z-index: -1;

//         &.dark {
//             background: transparent;
//             box-shadow: 0px 6px 13px 0.1px rgba($color-primary-light, 0.4);
//         }

//         &--item {
//             padding: 0.75rem 1rem;
//             font-size: 2.5rem;
//             @include respond(phone-2) {
//                 font-size: 2.75rem;
//             }
//             cursor: pointer;

//             color: rgba($color-white, 0.95);

//             transition: all 200ms;

//             &:hover {
//                 color: $color-primary-light;
//                 background: rgba($color-white, 0.8);
//             }

//             &.dark:hover {
//                 color: $color-primary-light;
//                 background: rgba($color-white, 0.05);
//             }
//         }
//     }
// }